html,body{
  height: 100%;
  background-position: center;
  background-size: 100%;
}
.side-bar {
  background-color: #393a44;
  min-width: 325px;
  height: 100%;
}

h1, h2 {
  color: white;
}

h4 {
  padding-top: 10px;
}

.pb-3, .py-3 {
  padding-bottom: 1.75rem !important;
}

button {
  margin: 5px;
}

.overscroll {
  overflow: scroll; 
}

label {
  color: black;
  font-size: 28px;
}

table {
  margin: 20px;
  font-family: 'Calibri';
  background-color: rgb(223, 223, 223);
}

.table {
  width: 95%;
}

.center {
  text-align: center;
}

@media all and (min-width: 769px ){

  .side-bar{
    min-height: 100vh;
  }

  .overscroll {
    overflow: hidden; 
  }

  .justify-center {
    justify-content: center;
  }
}